.main-container {
  min-height: 100svh;
  background-color: var(--white);

  padding: 2rem;
  position: relative;
  z-index: 2;
}

.main-container::before {
  content: '';
  position: absolute;
  width: 100vw;
  height: 5svh;
  left: 0;
  top: 0;
  transform: translateY(-95%);
  border-top-right-radius: var(--radius-xl);
  border-top-left-radius: var(--radius-xl);
  background-color: var(--white);
}
