.filter-container {
	margin: 1.5rem 0;
	overflow: hidden;
}

.filter-list {
	margin: 1rem 0;

	ul {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		row-gap: 0.5rem;
		column-gap: 0.3rem;
		list-style: none;
		padding: 0;
	}
}

.filter-list button {
	padding: 0.7rem 1.25rem;
	border-radius: var(--radius-xl);
	border: none;
	transition: color 150ms ease-out, background-color 150ms ease-out;
	position: relative;
}

.filter-list button::after {
	content: attr(data-content);
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	font-weight: bold;
	opacity: 0;
}

.filter-list button:hover::after {
	opacity: 1;
}

.filter-list button.active {
	background-color: var(--pink);
	color: var(--white);
}
