.accordion-container {
  button {
    background-color: transparent;
    border: none;
    padding: 1rem 0;
  }
  
  section {
    overflow: hidden;
  }  

  max-width: 30rem;

  border-bottom: 1px solid var(--black);
}
