.page-transition {
	clip-path: inset(0% 100% 0% 0%);
	width: 100%;
	height: 100vh;
	height: 100lvh;
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	pointer-events: none;
	background-color: var(--pink);

	> div {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
