.main-container {
	min-height: calc(100 * var(--vh));
	background-color: var(--white);
	padding: 1rem 0;
	position: relative;
	z-index: 2;
	transform: translateZ(0);
}

.main-container::before {
	content: '';
	position: absolute;
	width: 100vw;
	height: calc(5 * var(--vh));
	left: 0;
	top: 0;
	transform: translateY(-95%);
	border-top-right-radius: var(--radius-xl);
	border-top-left-radius: var(--radius-xl);
	background-color: var(--white);
}

.product-container {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 2rem;

	@media (--md) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (--lg) {
		grid-template-columns: repeat(3, 1fr);
	}
}
